<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="w-full h-screen bg-zinc-900">
    <form method="post" action="/create">
      <input type="text" placeholder="Username" name="username" class="block my-5 p-2"/>
      <input type="text" placeholder="Username" name="email" class="block my-5 p-2"/>
      <input type="text" placeholder="Username" name="password" class="block my-5 p-2"/>
      <input type="text" placeholder="Username" name="age" class="block my-5 p-2"/>
    </form>

  </div>
</body>
</html>